.navbar{
	background-color: $red;
	display: inline-block;
	text-align: center!important;
	padding: 0;
	width: $col-12;

}

.navbar__element{
	
	display: inline-block;
	font-size:15px;
	padding: 0 30px 10px 30px;
	margin-bottom: 15px;
	 &--img{
	 	display: inline-block;
		width: 5%;
		padding-top: 20px;
		padding-right: 20px;
		margin-bottom: -20px;
	 }

}
.element__link{
	color: $white;
	text-decoration: none;

	&--btn{
		background-color: $blue;
		color: $white;
		border-radius: 20px;
		border: none;
		padding: 12px;
	}

}
.profile{
	margin: 10px 0px 10px 300px;

	&__img{
		width: 20%;
		display: inline-block;
		margin: 40px;	
	}
	&__content{
		width: $col-6;
		display: inline-block;
		color: $white;
		&--name{
			color:$green;
		}
		&--button{
			background-color:$green;
			border-radius: 20px;
			border: none;
			padding: 12px 30px;	
			color: $white;
			font-size: 16px;		
		}
	
	}
	&__links{
		padding-left: 90px;
		padding-top: 40px;
		width:$col-6;
		margin: 20px;


		&__icon{
			padding: 10px;
			width:8%;
		}

	}
	
}	
.footer{
	color: $white;
	background-color: $footer-color;
	padding: 30px;
	margin-top: 60px;
	text-align: center!important;
	&__about{
		width: $col-4;
		display: inline-block;
		text-align: justify;
		&__icons{
			display: inline-block;
  			width: 35px;
			background-color: #33383b;
			border-radius: 2px;
			font-size: 20px;
			color: $green;
			text-align: center;
			line-height: 35px;
			margin-right: 3px;
			margin-bottom: 5px;
		}
	}
	&__contact{
		margin-left: 30px;
		width: $col-6;
		display: inline-block;
	}
}





